/* Styles for the container holding the columns */
.react-photo-gallery--gallery div  {
  display: flex;
  flex-wrap: wrap;
}

/* Styles for each column */
.react-photo-gallery--gallery  div img {

  overflow: hidden;
}

/* Apply a transition to the image to create a smooth animation */
.react-photo-gallery--gallery div img {
  transition: transform 0.5s ease;
}

/* Style for even columns */
.react-photo-gallery--gallery > div img:nth-child(even) {
  animation: floatUpDown 5s infinite alternate;
}

/* Style for odd columns */
.react-photo-gallery--gallery > div img:nth-child(odd) {
  animation: floatDownUp 5s infinite alternate;
}

/* Keyframes for even column animation (float upwards and downwards) */
@keyframes floatUpDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc(-100px * 1)); /* Adjust this value for desired upward floating height */
  }
}

/* Keyframes for odd column animation (float downwards and upwards) */
@keyframes floatDownUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc(100px * 1)); /* Adjust this value for desired downward floating height */
  }
}
