 
  .home {
                position: relative;
                min-height: 100vh;
                height: 100vh;
                background: rgba(70,39,8,.541176);
                background: #4e2a05;
                background: linear-gradient(180deg,#4e2a05,#2b1d0b 71%,#2b1d0b);
                color: #e6d9b2;
                font-family: Pragati Narrow,sans-serif;
                -webkit-animation: fade-in 1s cubic-bezier(.25,.46,.45,.94) both;
                animation: fade-in 1s cubic-bezier(.25,.46,.45,.94) both;
                overflow: hidden;
                z-index: 999
            }

            @media (min-width: 641px) {
                .home {
                    z-index:var(--offset);
                    z-index: unset
                }
            }

            .home .lar,.home .las {
                -webkit-animation: fade-in-left 2.3s cubic-bezier(.02,.13,0,.99) both;
                animation: fade-in-left 2.3s cubic-bezier(.02,.13,0,.99) both
            }

            .home:before {
                background: url("https://d33wubrfki0l68.cloudfront.net/2dae122b695dfedcb7e560496ab24ba7ceca3505/e3033/static/photo1cropped-24e76574fe15ec07baf60860a5ecc764.jpg");
                background-position: top;
                background-size: cover;
                background-repeat: no-repeat;
                width: 100vw;
                height: calc(100vh + 70px);
                top: -70px;
                position: absolute;
                opacity: attr(datatonye)
            }

            @media (min-width: 1601px) {
                .home:before {
                    top:-6.47vw;
                    height: calc(140vh + 6.47vw)
                }
            }

            .home .home-inner {
                min-height: 100vh;
                height: 100vh;
                padding: 40px 42px;
                display: flex;
                flex-flow: column
            }

            .home .home-inner .wow {
                position: relative;
                left: 2vw;
                top: 39vh;
                transition: top .7s ease-in-out;
                cursor: default;
                -webkit-user-select: none;
                -ms-user-select: none;
                -moz-user-select: none;
                user-select: none
            }

            @media (min-width: 641px) {
                .home .home-inner .wow {
                    left:0;
                    top: 54vh;
                    transition: top .7s ease-in-out
                }
            }

            .home .home-inner .wow .us {
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: center;
                font-family: Lily Script One,Arial,Helvetica,sans-serif;
                font-size: 70px;
                text-align: center;
                line-height: 50px;
                margin-top: -50px;
                transition: display .5s ease-in-out,flex-flow .5s ease-in-out
            }

            @media (min-width: 641px) {
                .home .home-inner .wow .us {
                    display:flex;
                    flex-flow: row;
                    font-size: 70px;
                    margin-top: 0;
                    transition: display .5s ease-in-out,flex-flow .5s ease-in-out
                }
            }

            .home .home-inner .wow .us .piece {
                margin: 0 10px;
                text-shadow: 0 20px 40px #000;
                z-index: 7;
                transform: scale(.8)
            }

            @media (min-width: 641px) {
                .home .home-inner .wow .us .piece {
                    transform:scale(1)
                }
            }

            .home .home-inner .wow .us .piece:nth-of-type(2) {
                font-size: 170px;
                color: #e66136;
                z-index: 6;
                text-shadow: 0 0 40px #130b04;
                transition: font-size .5s ease-in-out,color .5s ease-in-out
            }

            @media (min-width: 641px) {
                .home .home-inner .wow .us .piece:nth-of-type(2) {
                    font-size:11.6vw;
                    transition: font-size .5s ease-in-out,color .5s ease-in-out
                }
            }

            @media (min-width: 1025px) {
                .home .home-inner .wow .us .piece:nth-of-type(2) {
                    font-size:5.6vw
                }
            }

            .home .home-inner .countdown {
                position: absolute;
                top: 56vh;
                left: 2vw;
                height: 150px;
                width: 100%;
                border-radius: 28vw;
                display: flex;
                flex-flow: wrap;
                align-items: center;
                justify-content: center;
                transition: top .7s ease-in-out;
                will-change: animation,top,left,transition
            }

            @media (min-width: 641px) {
                .home .home-inner .countdown {
                    left:2vw;
                    top: min(101.9vw,84.7vh);
                    top: max(101.9vw,78.7vh);
                    transition: top .7s ease-in-out
                }
            }

            @media (min-width: 1025px) {
                .home .home-inner .countdown {
                    top:min(63vw,73.6vh)
                }
            }

              .countdown-wrapper {
                position: absolute;
                display: flex;
                flex-flow: column;
                height: 70px;
                width: 70px;
                color: #e5d8b1;
                top: 170px;
                left: 170px;
                align-items: center;
                font-size: 16px;
                letter-spacing: 2.1px;
                line-height: 30px;
                font-weight: 700;
                margin: 0;
                cursor: default;
                text-transform: uppercase;
                -webkit-animation-delay: 1s;
                animation-delay: 1s
            }

              .countdown-wrapper .countdown-col-element {
                display: flex;
                flex-flow: column;
                align-items: center;
                top: -85px;
                margin-left: -3px;
                transform: scale(.9)
            }

            @media (min-width: 641px) {
                   .countdown-wrapper .countdown-col-element {
                    transform:unset
                }
            }

            . .countdown-wrapper .countdown-col-element .days:first-of-type {
                font-size: 47px;
                letter-spacing: -1px;
                margin-top: -9px;
                font-family: Pacifico;
                font-weight: 400
            }

            .countdown-wrapper .countdown-col-element-text {
                font-family: Pacifico;
                font-size: 11px;
                margin: 7px 0 0 3px;
                text-transform: uppercase
            }


            .container {
                width: 100%;
                padding-right: 15px;
                padding-left: 15px;
                margin-right: auto;
                margin-left: auto
            }

            @media (min-width: 576px) {
                .container {
                    max-width:540px
                }
            }

            @media (min-width: 768px) {
                .container {
                    max-width:720px
                }
            }

            @media (min-width: 992px) {
                .container {
                    max-width:960px
                }
            }

            @media (min-width: 1200px) {
                .container {
                    max-width:1140px
                }
            }

           

            .spinning-smiley {
                width: 34px;
                margin-top: 5px;
                margin-left: 2px;
                -webkit-animation: rotate 5s linear infinite;
                animation: rotate 5s linear infinite;
                animation-direction: reverse
            }

            @media (min-width: 641px) {
                .spinning-smiley {
                    width:40px;
                    margin-top: 2px;
                    margin-left: 2px
                }
            }

            #container {
                margin: 0
            }

            #circle {
                position: relative;
                width: 100%;
                padding-bottom: 100%;
                overflow: hidden;
                -webkit-animation-delay: 1s;
                animation-delay: 1s
            }

            #circle text {
                font-family: Helvetica Neue,Arial;
                font-size: 18.7px;
                font-weight: 700;
                fill: #eea187;
                transition: fill .3 ease;
                transform: scale(.777);
                transform-origin: center
            }

            @media (min-width: 641px) {
                #circle text {
                    transform:unset
                }
            }

            #circle svg {
                position: relative;
                left: 0;
                top: 0;
                width: 100%;
                cursor: default;
                -webkit-animation-name: rotate;
                animation-name: rotate;
                -webkit-animation-duration: 7s;
                animation-duration: 7s;
                -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
                -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
                animation-direction: reverse
            }

            @-webkit-keyframes rotate {
                to {
                    transform: rotate(0)
                }
            }

            @keyframes rotate {
                0% {
                    transform: rotate(1turn)
                }

                to {
                    transform: rotate(0)
                }
            }

           